:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(30deg, blue, dodgerblue);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.menu-buttons {
  width: 60%;
  background-color: #0077ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

p {
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-wrap: balance;
  text-align: center;
}

span {
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-shadow: 0 0 1px black;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

label{
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-unchecked {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-checked {
  width: 20px;
  height: 20px;
  background-color: #0077ff;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 5px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
}

.checkbox-container {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.menu-container {
  display: flex;
  min-height: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}



input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 300px;
  height: 6px;
  background: linear-gradient(to right, #4a90e2, #005bea);
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  outline: 0.5px solid white;
}

/* スライダーのつまみ (サム) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid #4a90e2;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid #4a90e2;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* ホバー＆フォーカス時 */
input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
  background: #4a90e2;
  border: 3px solid white;
  transform: scale(1.2);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
  background: #4a90e2;
  border: 3px solid white;
  transform: scale(1.2);
}

.range-value {
  color: white;
  margin-top: 5px;
  font-size: 1rem;
  text-shadow: 0 0 1px black;
  max-width: 95%;
  text-wrap: balance;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}